#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    z-index: 6;
    background: transparent;
}

.ace_editor {
    position: relative;
    overflow: hidden;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    direction: ltr;
}

#viewerContext {
    margin: 0px;
    border: 0px none black;
    padding: 0px;
    background: white;
    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
}

.viewer {
    width: 100%;
    height: 100%;
}
