/* Add application styles & imports to this file! */
// @import '~codemirror/lib/codemirror.css';
@import './codemirror.css';
@import '~codemirror/theme/idea.css';
@import '~codemirror/addon/fold/foldgutter.css';
@import '~codemirror/addon/lint/lint.css';

html,
body {
  font-family: sans-serif;
}


